<a href="https://colab.research.google.com/github/HSV-AI/presentations/blob/master/2019/191002_Data_Analysis_Jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analyzing Data with Jupyter Notebook

This notebook is based in part on the Data Science Handbook by Jake VanderPlas that you can find [here](https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/Index.ipynb)

## IPython Tips

Here are a few tips that will help you get started using a Jupyter Notebook.

### Tip 1 - Help

You can use the ? character at the end of a function or type to access the help for that function or type.

In [0]:
# Let's create a list and see how to get the length
v = [1.0, 2.0, 3.0]
len?

In [6]:
len(v)

3

In [0]:
# We can even get information about the list itself:
v?

In [0]:
# Let's create a function with a helpful description
def empty_function():
  """This is just an empty function. Please don't call it."""
  return 1

In [0]:
# Now the description is available by asking for help
empty_function?

In [0]:
# Two question marks will display the source for the function
empty_function??

### Tip 2 - Tab Completion

Well, I was going to add a section about how to use the \<TAB\> key to autocomplete, but it appears that Colab already has that feature built into the editor.

Just in case, try the command 

?>v.\<TAB\> 

below:

### Tip 3 - Magic Commands

No really, they are called magic because they start with a '%'

One of the most useful commands that can be used to split up a large notebook is the %run magic command. Using it, you
can run external python scripts or even IPython notebooks 
inside the context of the current notebook.

An example of this can be found in the HSV-AI Bug Analysis notebook [here](https://colab.research.google.com/github/HSV-AI/bug-analysis/blob/master/Doc2Vec.ipynb)

Two other very useful magic commands are **%time** and **%timeit**

In [14]:
# Using an example directly from VanderPlas:
print("Here's the output of the %timeit command:")
%timeit L = [n ** 2 for n in range(1000)]

print("\nHere's the output of the %time command:")
%time  L = [n ** 2 for n in range(1000)]

Here's the output of the %timeit command:
1000 loops, best of 3: 246 µs per loop

Here's the output of the %time command:
CPU times: user 275 µs, sys: 0 ns, total: 275 µs
Wall time: 277 µs

### Tip 4 - Suppressing Output

Jupyter will send the result of the last command from a cell to the output. Sometimes you just want it to stay quiet though - especically if you are generating plots and other items that do not need the ouput text inserted.

In order to suppress the output, just end the line with a ';'

In [18]:
# This code has output
p1 = 'This little piggy had roast beef'
p1

'This little piggy had roast beef'

In [0]:
# This code does not have output
p2 = 'This little piggy had none'
p2;

### Tip 5 - %history Magic

This particular piece of magic is very helpful when you may have run cells out of order and are trying to troubleshoot what happened in what order.

In [0]:
%history

### Tip 6- Shell Commands

Most Linux shell commands are available from the Jupyter notebook as well. One good example is shown below and sets us up to start doing some data analysis.

In [1]:
!wget https://data.nasa.gov/api/views/gh4g-9sfh/rows.csv

--2019-10-02 12:46:47--  https://data.nasa.gov/api/views/gh4g-9sfh/rows.csv
Resolving data.nasa.gov (data.nasa.gov)... 128.102.186.77, 2001:4d0:6311:2c05:60b0:5ad8:1210:ea07
Connecting to data.nasa.gov (data.nasa.gov)|128.102.186.77|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv’

rows.csv                [         <=>        ]   4.55M  2.57MB/s    in 1.8s

2019-10-02 12:46:55 (2.57 MB/s) - ‘rows.csv’ saved [4769811]

## Pandas Dataframes

Pandas datafames are a great way to work with tabular data.

There are several ways to load a dataframe from common file formats like json and csv.

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('rows.csv')

# Now let's look at the columns available in the dataframe
df.columns

Index(['name', 'id', 'nametype', 'recclass', 'mass (g)', 'fall', 'year',
       'reclat', 'reclong', 'GeoLocation'],
      dtype='object')

In [0]:
# We can also get an idea of the data by using the head function
df.head

In [0]:
# We can copy columns of the dataframe into a new dataframe
df_copy = df[['name', 'id']]

df_copy.head

In [0]:
# Changes to the copy do not affect the original
df_copy['id'] = 0

print(df_copy.head)

print(df.head)

In [21]:
df_view = df.loc[:, ['name','id']]

df_view['id'] = 0

print(df_view.head)

print(df.head)

<bound method NDFrame.head of                       name  id
0                   Aachen   0
1                   Aarhus   0
2                     Abee   0
3                 Acapulco   0
4                  Achiras   0
5                 Adhi Kot   0
6      Adzhi-Bogdo (stone)   0
7                     Agen   0
8                   Aguada   0
9            Aguila Blanca   0
10        Aioun el Atrouss   0
11                     Aïr   0
12         Aire-sur-la-Lys   0
13                   Akaba   0
14                Akbarpur   0
15                 Akwanga   0
16                 Akyumak   0
17                 Al Rais   0
18               Al Zarnkh   0
19                   Alais   0
20                Albareto   0
21                 Alberta   0
22         Alby sur Chéran   0
23               Aldsworth   0
24                  Aleppo   0
25             Alessandria   0
26           Alexandrovsky   0
27              Alfianello   0
28                 Allegan   0
29                 Allende   0
...                    ...  ..
45686               Ysleta   0
45687            Yucca 015   0
45688            Yucca 016   0
45689            Yucca 017   0
45690               Yudoma   0
45691     Zacatecas (1792)   0
45692     Zacatecas (1969)   0
45693               Zaffra   0
45694              Zag (b)   0
45695               Zagora   0
45696            Zakłodzie   0
45697           Zapaliname   0
45698        Zapata County   0
45699   Zapotitlán Salinas   0
45700             Zaragoza   0
45701               Zegdou   0
45702              Zelfana   0
45703                Zenda   0
45704                Zerga   0
45705             Zerhamra   0
45706              Zerkaly   0
45707             Zhaoping   0
45708             Zhigansk   0
45709           Zhongxiang   0
45710           Zillah 001   0
45711           Zillah 002   0
45712               Zinder   0
45713                 Zlin   0
45714            Zubkovsky   0
45715           Zulu Queen   0

[45716 rows x 2 columns]>
<bound method NDFrame.head of                       name     id  ...    reclong             GeoLocation
0                   Aachen      1  ...    6.08333       (50.775, 6.08333)
1                   Aarhus      2  ...   10.23333    (56.18333, 10.23333)
2                     Abee      6  ... -113.00000      (54.21667, -113.0)
3                 Acapulco     10  ...  -99.90000       (16.88333, -99.9)
4                  Achiras    370  ...  -64.95000     (-33.16667, -64.95)
5                 Adhi Kot    379  ...   71.80000            (32.1, 71.8)
6      Adzhi-Bogdo (stone)    390  ...   95.16667    (44.83333, 95.16667)
7                     Agen    392  ...    0.61667     (44.21667, 0.61667)
8                   Aguada    398  ...  -65.23333      (-31.6, -65.23333)
9            Aguila Blanca    417  ...  -64.55000     (-30.86667, -64.55)
10        Aioun el Atrouss    423  ...   -9.57028    (16.39806, -9.57028)
11                     Aïr    424  ...    8.38333     (19.08333, 8.38333)
12         Aire-sur-la-Lys    425  ...    2.33333     (50.66667, 2.33333)
13                   Akaba    426  ...   35.05000       (29.51667, 35.05)
14                Akbarpur    427  ...   77.95000       (29.71667, 77.95)
15                 Akwanga    432  ...    8.43333      (8.91667, 8.43333)
16                 Akyumak    433  ...   42.81667    (39.91667, 42.81667)
17                 Al Rais    446  ...   39.51667    (24.41667, 39.51667)
18               Al Zarnkh    447  ...   28.96000       (13.66033, 28.96)
19                   Alais    448  ...    4.08333     (44.11667, 4.08333)
20                Albareto    453  ...   11.01667       (44.65, 11.01667)
21                 Alberta    454  ...   22.66667         (2.0, 22.66667)
22         Alby sur Chéran    458  ...    6.01533     (45.82133, 6.01533)
23               Aldsworth    461  ...   -1.78333    (51.78333, -1.78333)
24                  Aleppo    462  ...   37.13333    (36.23333, 37.13333)
25             Alessandria    463  ...    8.75000        (44.88333, 8.75)
26           Alexandrovsky    465  ...   31.81667       (50.95, 31.81667)
27              Alfianello    466  ...   10.15000       (45.26667, 10.15)
28                 Allegan   2276  ...  -85.88333   (42.53333, -85.88333)
29                 Allende   2278  ... -105.31667  (26.96667, -105.31667)
...                    ...    ...  ...        ...                     ...
45686               Ysleta  30375  ... -106.18333     (31.65, -106.18333)
45687            Yucca 015  57175  ... -114.27610    (34.8197, -114.2761)
45688            Yucca 016  57158  ... -114.27763  (34.82658, -114.27763)
45689            Yucca 017  57159  ... -114.27735  (34.81923, -114.27735)
45690               Yudoma  30376  ...  140.00000           (60.0, 140.0)
45691     Zacatecas (1792)  30381  ... -102.56667  (22.81667, -102.56667)
45692     Zacatecas (1969)  30382  ...        NaN                     NaN
45693               Zaffra  30383  ...  -94.75000          (35.0, -94.75)
45694              Zag (b)  30385  ...   -9.33333    (27.33333, -9.33333)
45695               Zagora  30387  ...   -5.85000       (30.36667, -5.85)
45696            Zakłodzie  30390  ...   22.86611    (50.76278, 22.86611)
45697           Zapaliname  30392  ... -100.75000     (25.00944, -100.75)
45698        Zapata County  30393  ...  -99.00000           (27.0, -99.0)
45699   Zapotitlán Salinas  30394  ...  -97.50000       (18.33333, -97.5)
45700             Zaragoza  48916  ...   -0.86667       (41.65, -0.86667)
45701               Zegdou  30398  ...   -4.50000           (29.75, -4.5)
45702              Zelfana  31353  ...    4.63333     (32.15833, 4.63333)
45703                Zenda  30400  ...  -88.48944   (42.51333, -88.48944)
45704                Zerga  30402  ...  -12.68333      (20.25, -12.68333)
45705             Zerhamra  30403  ...   -2.64500      (29.85861, -2.645)
45706              Zerkaly  31354  ...   81.96667    (52.13333, 81.96667)
45707             Zhaoping  54609  ...  111.18333   (24.23333, 111.18333)
45708             Zhigansk  30405  ...  128.30000           (68.0, 128.3)
45709           Zhongxiang  30406  ...  112.50000           (31.2, 112.5)
45710           Zillah 001  31355  ...   17.01850       (29.037, 17.0185)
45711           Zillah 002  31356  ...   17.01850       (29.037, 17.0185)
45712               Zinder  30409  ...    8.96667     (13.78333, 8.96667)
45713                 Zlin  30410  ...   17.66667       (49.25, 17.66667)
45714            Zubkovsky  31357  ...   41.50460     (49.78917, 41.5046)
45715           Zulu Queen  30414  ... -115.68333  (33.98333, -115.68333)

[45716 rows x 10 columns]>